*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.main{
  text-align: center;
  height: 200px;
  width: 300px;
  background-color: antiquewhite;
  padding: 40px 0;
}
button{
  height: 50px;
  width: 100px;
  font-size: 30px;
}
